---
title: GeekcampSG
---

{% include head.html %}
  <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="index.html">Home</a>
          <a class="blog-nav-item" href="team.html">The Team</a>
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">GeekcampSG</h1>
        <p class="lead blog-description">By Geeks. For Geeks</p>
        <div class="fb-like" data-href="http://geekcamp.sg" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        <a class="twitter-follow-button"
        href="https://twitter.com/geekcamp">
        Follow @geekcampsg</a>
    </div>

    <div class="row">
      <div class="col-sm-8 blog-main">
        <div class="jumbotron">
          <h2>Conference for the Geeks.</h2>
          <p class="lead">No startup talks. No how to get rich talks. This is purely a tech conference.</p>
          <p>Hashtag: <strong>#geekcampsg</strong> | Date: <strong>[Tentative] 26th September 2015</strong> | Time: <strong>TBA</strong> | Location: <strong>NUS School of Computing</strong></p>
        </div>

        <div class="blog-post">
          <h3 class="blog-post-title">Call for Speakers!</h3>
          <p>We are accepting application for speakers! Please apply below and tell us why you are so awesome:</p>
          <div class="forms">
            <iframe src="https://docs.google.com/forms/d/1bTiE5IE-Si2ymz8J7jTY89PESMWzO0ejHTyti4ytEQ8/viewform?embedded=true" width="650" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
          </div>
        </div>
      </div><!-- /.blog-main -->

      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
          <h4>Interested to work with us?</h4>
          <p>We are looking for partners and sponsors. If you are interested in sponsoring geekcamp.sg, get it touch <a href="mailto:info@geekcamp.sg">here</a>.</p>
        </div>
      </div><!-- /.blog-sidebar -->
    </div><!-- /.row -->
  </div><!-- /.container -->
{% include footer.html %}
