---
title: Geekcamp.SG - Live
description: Live streams of Geekcamp.SG 2016!
---

{% include head.html %}
<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item" href="/index.html">Home</a>
      <a class="blog-nav-item" href="/schedule.html">Schedule</a>
      <a class="blog-nav-item active" href="/live.html">Live</a>
      <a class="blog-nav-item" href="/talks.html">Submitted Talks</a>
      <a class="blog-nav-item" href="/team.html">The Team</a>
    </nav>
  </div>
</div>

<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">Geekcamp.SG</h1>
    <p class="lead blog-description">By Geeks. For Geeks.</p>
    <div class="fb-like" data-href="http://geekcamp.sg" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    <a class="twitter-follow-button"
      href="https://twitter.com/geekcamp">
      Follow @geekcamp</a>
  </div>

  <h1>Live Stream</h1>

  <p>We Will have the talk videos uploaded for you soon :)</p>

</div><!-- Container -->
{% include footer.html %}
