---
title: Geekcamp.SG - Schedule
description: The community has spoken. These are the talks that've been voted in by you guys.
---

{% include head.html %}
<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item" href="/index.html">Home</a>
      <a class="blog-nav-item active" href="/schedule.html">Schedule</a>
      <a class="blog-nav-item" href="https://www.eventbrite.com/e/geekcampsg-2016-registration-18323491055">Tickets</a>
      <a class="blog-nav-item" href="/talks.html">Submitted Talks</a>
      <a class="blog-nav-item" href="/team.html">The Team</a>
    </nav>
  </div>
</div>

<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">Geekcamp.SG</h1>
    <p class="lead blog-description">By Geeks. For Geeks.</p>
    <div class="fb-like" data-href="http://geekcamp.sg" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    <a class="twitter-follow-button"
      href="https://twitter.com/geekcamp">
      Follow @geekcamp</a>
  </div>

  <h1>Schedule</h1>
  <h4>Times are subject to change</h4>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Time</th>
        <th>Talk</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>09.30 - 10.30</th>
        <td><strong>Registration</strong></td>
      </tr>
      <tr>
        <th>10.30 - 10.45</th>
        <td><strong>Opening</strong></td>
      </tr>
      <tr>
        <th>10.45 - 11.30</th>
        <td>{% talk_link the-magic-behind-engineers-sg %}</td>
      </tr>
      <tr>
        <th>11.30 - 12.15</th>
        <td>{% talk_link an-unexpected-use-for-a-cardboard-box-listening-to-the-moon %}</td>
      </tr>
      <tr>
        <th>12.15 - 13.00</th>
        <td>{% talk_link evolving-careers-how-i-switched-my-role-from-an-admin-to-a-javascript-developer %}</td>
      </tr>
      <tr>
        <th>13.00 - 14.00</th>
        <td><strong>Lunch</strong></td>
      </tr>
      <tr>
        <th>14.00 - 14.45</th>
        <td>{% talk_link create-a-3d-game-engine-for-pebble-smartwatch %}</td>
      </tr>
      <tr>
        <th>14.45 - 15.30</th>
        <td>{% talk_link rust-make-system-programming-great-again %}</td>
      </tr>
      <tr>
        <th>15.30 - 16.15</th>
        <td>{% talk_link hyperledger-project-updates-from-the-blockchain %}</td>
      </tr>
      <tr>
        <th>16.15 - 16.30</th>
        <td><strong>Break</strong></td>
      </tr>
      <tr>
        <th>16.15 - 17.00</th>
        <td>{% talk_link graphql-in-an-age-of-rest %}</td>
      </tr>
      <tr>
        <th>17.00 - 17.45</th>
        <td>{% talk_link kubernetes-for-small-organisations %}</td>
      </tr>
      <tr>
        <th>17.45 - 18.00</th>
        <td><strong>Closing</strong></td>
      </tr>
    </tbody>
  </table>

</div><!-- Container -->
{% include footer.html %}
