---
title: Geekcamp.SG - Schedule
description: The community has spoken. These are the talks that've been voted in by you guys.
---

{% include head.html %}
<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item" href="/index.html">Home</a>
      <a class="blog-nav-item active" href="/schedule.html">Schedule</a>
      <a class="blog-nav-item" href="https://learn.12geeks.com/event/geekcampsg2015">Tickets</a>
      <a class="blog-nav-item" href="/talks.html">Submitted Talks</a>
      <a class="blog-nav-item" href="/team.html">The Team</a>
    </nav>
  </div>
</div>

<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">Geekcamp.SG</h1>
    <p class="lead blog-description">By Geeks. For Geeks</p>
    <div class="fb-like" data-href="http://geekcamp.sg" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    <a class="twitter-follow-button"
      href="https://twitter.com/geekcamp">
      Follow @geekcamp</a>
  </div>

  <h1>Schedule</h1>
  <h4>Times are subject to change</h4>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Time</th>
        <th>Seminar Room 1</th>
        <th>Seminar Room 2</th>
        <th>Seminar Room 3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>09.00-10.00</th>
        <td colspan="3" class="common-event"><strong>Registration</strong></td>
      </tr>
      <tr>
        <th>10.00-10.20</th>
        <td>Opening</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>10.20-11.00</th>
        <td>Address by Vivian Balakrishnan, Minister-in-Charge of the Smart Nation Initiative</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>11.00-11.30</th>
        <td>Curated talk: {% talk_link containers-what-we-need-to-know %}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>11.35-12.05</th>
        <td>Curated talk: {% talk_link secure-e7y-nomadic-toolkit %}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>12.10-12.40</th>
        <td>Curated talk: {% talk_link talk-via-satellites-and-maybe-the-moon %}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>12.40-12.50</th>
        <td>Hackertrail - Stage 1</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>12.50-13.30</th>
        <td colspan="3" class="common-event"><strong>Lunch</strong></td>
      </tr>
      <tr>
        <th>13.30-14.00</th>
        <td></td>
        <td>{% talk_link magarena-game-ai %}</td>
        <td>{% talk_link building-self-driving-car %}</td>
      </tr>
      <tr>
        <th>14.05-14.35</th>
        <td></td>
        <td>{% talk_link id-taap-that %}</td>
        <td>{% talk_link hardware-prototyping-made-easy %}</td>
      </tr>
      <tr>
        <th>14.40-15.10</th>
        <td></td>
        <td>{% talk_link signaling-out-of-callback-hell %}</td>
        <td>{% talk_link from-tupperware-to-auv %}</td>
      </tr>
      <tr>
        <th>15.15-15.25</th>
        <td>Hackertrail - Stage 2</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>15.25-15.50</th>
        <td colspan="3" class="common-event"><strong>Tea Break</strong></td>
      </tr>
      <tr>
        <th>15.50-16.20</th>
        <td></td>
        <td>{% talk_link why-mobile-web-slow %}</td>
        <td>{% talk_link build-your-first-computer-with-fpga %}</td>
      </tr>
      <tr>
        <th>16.25-16.55</th>
        <td></td>
        <td>{% talk_link webaudio-an-emerging-platform %}</td>
        <td>{% talk_link build-wifi-gadgets-using-esp8266 %}</td>
      </tr>
      <tr>
        <th>17.00-17.30</th>
        <td></td>
        <td>{% talk_link developer-happiness-with-terminal-shortcuts %}</td>
        <td>{% talk_link how-to-build-web-interface-for-iot %}</td>
      </tr>
      <tr>
        <th>17.35-17.45</th>
        <td>Hackertrail - Finals</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>17.45-18.30</th>
        <td>Closing &amp; Prizes</td>
        <td></td>
        <td></td>
      <tr>
        <th>19.00-21.00</th>
        <td colspan="3" class="common-event"><strong>Afterparty</strong></td>
      </tr>
    </tbody>
  </table>

</div><!-- Container -->
{% include footer.html %}
