---
title: Geekcamp.SG - Talks for better communication
description: Attending Geekcamp.SG 2016? Vote for the talks you're interested in!
---

{% include head.html %}
<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item" href="/index.html">Home</a>
      <a class="blog-nav-item" href="/schedule.html">Schedule</a>
      <a class="blog-nav-item" href="https://www.eventbrite.com/e/geekcampsg-2016-registration-18323491055">Tickets</a>
      <a class="blog-nav-item active" href="/talks.html">Submitted Talks</a>
      <a class="blog-nav-item" href="/team.html">The Team</a>
    </nav>
  </div>
</div>

<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">Geekcamp.SG</h1>
    <p class="lead blog-description">By Geeks. For Geeks.</p>
    <div class="fb-like" data-href="http://geekcamp.sg" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    <a class="twitter-follow-button"
      href="https://twitter.com/geekcamp">
      Follow @geekcamp</a>
  </div>

  {% assign talks = site.data.talks | sort: "slug"  %}
  <div class="flex-table">
    <div class="flex-row flex-table-header">
      <div class="flex-cell">Title</div>
      <div class="flex-cell">Speaker</div>
      <div class="flex-cell flex-cell-wide">Description</div>
    </div>
    {% for talk in talks %}
    {% if talk.hidden != true %}
    <div class="flex-row">
      <div class="flex-cell" data-header="Title"><a href="/{{ talk.slug | datapage_url: 'talks' }}">{{ talk.talk.title }}</a></div>
      <div class="flex-cell" data-header="Speaker">
        {% if talk.speaker.link %}
        <a href="{{ talk.speaker.link }}">
        {% endif %}
          {{ talk.speaker.name }}
        {% if talk.speaker.link %}
        </a>
        {% endif %}
      </div>
      <div class="flex-cell flex-cell-wide" data-header="Description"><p>{{ talk.talk.description | newline_to_br }}</p></div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div><!-- Container -->
{% include footer.html %}
